<p-tabs value="0" tabs.tab.activeColor="#50CD89">
    <p-tablist>
        <p-tab value="0">Overview</p-tab>
        <p-tab value="1">Settings</p-tab>
        <p-tab value="2">Collaboration</p-tab>
        <p-tab value="3">Activity</p-tab>
        <p-tab value="4">Communication</p-tab>
        <p-tab value="5">Statements</p-tab>
        <p-tab value="6">Performance</p-tab>
        <p-tab value="7">API Keys</p-tab>
        <p-tab value="8">Logs</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
             <!-- <app-overview></app-overview>  -->

             <router-outlet></router-outlet>

            <!-- <app-project-details></app-project-details> -->
        </p-tabpanel>
        <p-tabpanel value="1">
            <!-- <app-project-details></app-project-details> -->
             <app-kanban-board-feature></app-kanban-board-feature>
        </p-tabpanel>
        <p-tabpanel value="2">
            <app-insight-and-report-feature></app-insight-and-report-feature>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>