<div class="project-details">
<div class="heading">
  <div class="project-info">
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
  </div>
  <div class="actions">
    <button (click)="openCreateTaskModal()">Create Task</button>
  </div>
</div>

<div class="tasks">
 <h3>Task Breakdown</h3>

  <p-table
    [value]="tasks">
        <ng-template #header>
            <tr>
                <th>Task</th>
                <th>Owner</th>
                <th>Deadline</th>
                <th>Status</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-task>
            <tr>
                <td>{{ task.title }}</td>
                <td>
                  <span>
                    {{ task.user.firstName }}
                    {{ task.user.lastName }}
                  </span>
                </td>
                <td>
                    {{ task.dueDate | date }}                       
                </td>
                <td>
                  <span class="label">{{ task.taskStatus | taskStatus }}</span>
                </td>
                 <td>
                  <button (click)="openTaskDetailsPage(task.id)" class="edit-task-button">Details</button>
                  <button (click)="openEditTaskModal(task)" class="edit-task-button">Edit Task</button>
                 </td>
            </tr>
        </ng-template>
    </p-table>
  </div>

  <div class="teams">
   <h3>Team</h3>
   <div class="members">
     
   </div>
  </div>

  <div class="notes">
    <h3>Notes</h3>
  </div>
</div>