<div class="insight-and-report">
  <div class="heading">
    <h1>Projects KPIs</h1>
  </div>

  <div class="kpis">
    <div class="kpi-item">
      <p>Completion Rate</p>
      <p>{{ analytics.projectCompletitionRate }}%</p>
    </div>
    <div class="kpi-item">
      <p>Overdue Tasks</p>
      <p>{{ analytics.overdueTasks }}</p>
    </div>
    <div class="kpi-item">
      <p>Budget Usage</p>
      <p>60%</p>
    </div>
    <div class="kpi-item">
      <p>Risk Assesment</p>
      <p>Delayed</p>
    </div>
  </div>

  <div class="custom-report">
    <h3>Custom Report</h3>
    <div class="report-name">
      <p>Report Name</p>
      <input placeholder="Enter report name" [(ngModel)]="reportName"/>
    </div>

    <div class="report-description">
      <p>Report Description</p>
      <textarea [(ngModel)]="reportDescription"></textarea>
    </div>

    <button (click)="generateReport()">Generate Report</button>
  </div>

  <div class="projects">
    <h3>Your Projects</h3>

    <div class="project-list">
      @for (project of analytics.projects; track $index) {
      <div class="project-item">
        <div class="timeline">
          <div class="bullet" [style.bottom.%]="project.progress"></div>
        </div>

        <div class="details">
          <p>{{ project.name }}</p>
          <p>{{ project.endDate | date}}</p>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="project-data">
    <div class="contributors">
      <div class="count">
        <p>{{ analytics.professionals }}</p>
        <p>Professionals</p>
      </div>

      <div class="contributors-details">
        <p>Today's Heroes</p>
        <div class="heroes">
          @for (professional of analytics.professionalsOfTheDay.slice(0, 7); track $index) {
          <div class="hero-item">
            <!-- <img src="assets/images/portrait1.jpg" alt="img"> -->

            <p>
              {{
                $index === 6
                  ? "+" + analytics.professionalsOfTheDay.length
                  : professional.name.charAt(0).toUpperCase()
              }}
            </p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="active-projects">
      <div class="count">
        <p>{{ analytics.activeProjects }}</p>
        <p>Active Projects</p>
      </div>
      <div class="pending-projects">
        <div class="status">
          <p>{{ analytics.pendingProjects }} Pending</p>
          <p>{{ analytics.projectsPendingRate }}%</p>
        </div>

        <div class="progress-container">
          <div class="progress-bar" [style.width.%]="analytics.projectsPendingRate"></div>
        </div>
      </div>
    </div>
  </div>
</div>
