.p-panelmenu-panel {
  border: none !important;
  background-color: #131313 !important;
}

.p-menu {
  background-color: transparent !important;
  border: none !important;
}

.p-panelmenu-header-content {
  &:hover {
    background-color: transparent !important;
    cursor: pointer !important;
  }
}

.p-panelmenu-item-content {
  // background-color: transparent !important;

  &:hover {
    background-color: #3e97ff !important;
    cursor: pointer !important;
  }

  &:focus{
   background-color: red !important;
  }
}

//not ok
.p-panelmenu-item-link {
  //color: white !important;

  
}

.p-panelmenu-header-label {
  color: white !important;
}

.p-panelmenu-header-link {
  margin-left: -10px !important;

  svg {
    position: absolute;
    margin: 230px;
    color: white;
  }
}

.p-panelmenu {
  margin-left: -5px;
}

.custom-icon {
  .p-panelmenu-header-icon,
  .p-panelmenu-item-icon {
    font-size: 0.5rem;
    color: white;
  }

  .p-menu-item-link{
    border-radius: 10px;

   &:hover{
      background-color: #0072f4 !important;
   }

   &:focus{
      background-color: #3e97ff !important;
   }
  }

  .p-menu-item-icon {
    font-size: 0.5rem !important;
    color: white !important;
  }

  .p-menu-item-label {
    color: white;
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .p-panelmenu-item-label {
    color: white;
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .p-menu-item-content {
    background-color: transparent !important;
  }
}

/* CSS to move the tabs to the right side */
.custom-tab-list {
  .p-tablist-tab-list {
    justify-content: flex-end;
    z-index: 2;
  }
}

.p-datatable-thead {
  font-size: 0.9rem;
  color: #0f1417;
}

.p-datatable-table-container {
  font-size: 0.9rem;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
}

.p-datatable-tbody > tr > td {
  vertical-align: middle;
}

.p-tabs {
  color: #a1a5b7 !important;
}

.custom-button {
  .p-button-icon {
    font-size: 10px;
    font-weight: 600;
  }
  .p-button {
    background-color: #404040;
    color: #c1c1c1;
    width: 25px;
    height: 25px;
    border: none;

    &:hover {
      background-color: #595959 !important;
      border: none !important;
    }
  }
}


::ng-deep .p-panelmenu .p-menuitem-link.router-link-active {
  background: red;
  color: blue;
}

.p-panelmenu-item:first-child:focus{
   background-color: red;
}