.p-panelmenu-panel {
  border: none !important;
  background-color: #131313 !important;
}

.p-menu {
  background-color: transparent !important;
  border: none !important;
}

.p-panelmenu-header-content {
  &:hover {
    background-color: transparent !important;
    cursor: pointer !important;
  }
}

.p-panelmenu-item-content {
  &:hover {
    background-color: #0072f4 !important;
    cursor: pointer !important;
  }
}

.p-panelmenu-header-label {
  color: white !important;
}

.p-panelmenu-header-link {
  margin-left: -10px !important;

  svg {
    position: absolute;
    margin: 246px;
    color: white;
  }
}

.p-panelmenu {
  margin-left: -5px;
}

.custom-icon {
  .p-panelmenu-header-icon,
  .p-panelmenu-item-icon {
    font-size: 0.5rem;
    color: white;
  }

  .p-menu-item-link {
    border-radius: 5px;

    &:hover {
      background-color: #0072f4 !important;
    }

    &:focus {
      background-color: #3e97ff !important;
    }
  }

  .p-menu-item-icon {
    font-size: 0.5rem !important;
    color: white !important;
  }

  .p-menu-item-label {
    color: white;
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .p-panelmenu-item-label {
    color: white;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 1px;
  }

  .p-menu-item-content {
    background-color: transparent !important;
  }
}

/* CSS to move the tabs to the right side */
.custom-tab-list {
  .p-tablist-tab-list {
    justify-content: flex-end;
    z-index: 2;
  }
}

.p-datatable-thead {
  font-size: 0.9rem;
  color: #0f1417;
}

.p-datatable-table-container {
  font-size: 0.9rem;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
}

.p-datatable-tbody > tr > td {
  vertical-align: middle;
}

.p-tabs {
  color: #a1a5b7 !important;
  margin-bottom: 10px;
}

.custom-button {
  .p-button-icon {
    font-size: 10px;
    font-weight: 600;
  }
  .p-button {
    background-color: #404040;
    color: #c1c1c1;
    width: 25px;
    height: 25px;
    border: none;

    &:hover {
      background-color: #595959 !important;
      border: none !important;
    }
  }
}

.p-panelmenu-item {
  padding: 1px 0px;
}

.p-panelmenu-item-link:hover {
  .p-panelmenu-item-icon {
    font-size: 0.5rem;
    color: white !important;
  }
}

.p-highlight {
  .p-panelmenu-item-link {
    background-color: #3e97ff !important;
    border-radius: 5px;
  }
}

.custom-edit-task-button {
  button {
    width: 94px;
    height: 30px;
    background-color: #e8fff3;
    color: #50cd89;
  }
}

.progress-bar {
  height: 5px;

  .p-progressbar-value {
    //background: #1ad598 !important;
    background: #3e97ff;
    border-radius: 10px;
  }
}

.collapsed-menu {
  padding-top: 50px;

  .p-menu-item-link {
    width: 40px;
    height: 50px;
  }
  .p-menu-item-icon {
    font-size: 1.5rem !important;
  }

  .p-menu-item-content {
    width: 50px;
  }

  .p-menu-list {
    gap: 30px;
  }
}

/* ✅ Global scrollbar styling */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #007ad9 transparent; /* thumb | track */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* horizontal scrollbar size */
}

*::-webkit-scrollbar-thumb {
  background-color: #007ad9;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
