.progress-container {
  width: 100%;
  max-width: 600px;
  text-align: center;

  .progress-bar {
    position: relative;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;

    .progress {
      height: 100%;
      border-radius: inherit;
      transition: width 0.4s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 8px;
    }

    .steps {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      display: flex;
      transform: translateY(-50%);
      padding: 10px;

      .step {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #ccc;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: bold;
        z-index: 2;
        
        &:first-child{
          z-index: 1;
          margin-right: -10px;
          background: rgba(0,0,0,0.2);
        }

        &.completed {
           background: rgba(0,0,0,0.2);
        }

        &.active {
          background: #ff9800;
          background: white;
          width: 40px;
          border-radius: 40%;
          color: #5E6278;
          margin-left: auto;
        }
      }

      .title{
        color: white; 
        margin-left:10px; 
        margin-top: 5px;
      }

      .image{
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        border-radius: 50%;
      }
    }
  }
}
