<div class="active-task">
  <div class="heading">
    <p>Active Tasks</p>
    <div class="time-options">
      <div class="card">
    <p-tabs value="0" class="custom-tab-list">
        <p-tablist>
            <p-tab value="0">Day</p-tab>
            <p-tab value="1">Week</p-tab>
            <p-tab value="2">Month</p-tab>
            <p-tab value="3">2026</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="tasks">
                   <div class="task-list">
                     <div class="task-item">
                       <p>Research</p>                       
                        <app-progress-bar 
                          [title]="'Meeting'" 
                          [progress]="70"
                          [progressBackground]="'#3E97FF'"
                          [progressBarBackground]="'#EEF6FF'"></app-progress-bar>                   
                     </div>

                     <div class="task-item">
                       <p>Phase 2.6 QA</p>                       
                        <app-progress-bar 
                        [title]="'Testing'" 
                        [progress]="47"
                        [progressBackground]="'#50CD89'"
                        [progressBarBackground]="'#E8FFF3'">
                        </app-progress-bar>                   
                     </div>

                     <div class="task-item">
                       <p>UI Design</p>                       
                        <app-progress-bar 
                        [title]="'Landing Page'" 
                        [progress]="55"
                        [progressBackground]="'#F1416C'"
                        [progressBarBackground]="'#FFF5F8'">
                      </app-progress-bar>                   
                     </div>

                     <div class="task-item">
                       <p>Development</p>                       
                        <app-progress-bar 
                        [title]="'Product Module'" 
                        [progress]="75"
                        [title]="'Landing Page'" 
                        [progress]="55"
                        [progressBackground]="'#7239EA'"
                        [progressBarBackground]="'#F8F5FF'">
                      </app-progress-bar>                   
                     </div>
                   </div>

                   <div class="dashed-elements">
                    <div class="dashed-border">
                  <p>16:00</p>
                  <p>Tue 31 JANUARY</p>
                </div>

                <div class="dashed-border">
                  <p>17:00</p>
                </div>

                <div class="dashed-border">
                  <p>18:00</p>
                </div>
                   </div>
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p class="m-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                    modi.
                </p>
            </p-tabpanel>
            <p-tabpanel value="2">
                <p class="m-0">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus.
                </p>
            </p-tabpanel>
            <p-tabpanel value="3">
                <p class="m-0">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus.
                </p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
    </div>
  </div>
  <div class="content">

  </div>
</div>