<p-toast></p-toast>

<div class="login">
  <div class="login-container">
    <h1>Welcome back!</h1>
    <form [formGroup]="form">
      <p-floatlabel>
        <input
          class="input-field"
          id="email"
          pInputText
          formControlName="email"
        />
        <label for="email">Email</label>
      </p-floatlabel>

      <p-floatlabel>
        <input
          class="input-field"
          id="password"
          pInputText
          type="password"
          formControlName="password"
        />
        <label for="password">Password</label>
      </p-floatlabel>
    </form>

    <button class="sign-in" pButton (click)="login()" [loading]="loading">
      Sign In
    </button>

    <div class="option">
      <hr />
      <span>OR</span>
      <hr />
    </div>

    <button
      class="google-signin-button"
      pButton
      (click)="signInWithGoogle()"
      [disabled]="loading"
      icon="pi pi-google"
      label="Sign in with Google"
    ></button>

    <a (click)="goToRegister()" class="sign-up"
      ><span>No account?</span> <span>Sign Up -></span></a
    >
  </div>
</div>
