.project-details {
  color: #0f1417;
  padding: 24px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .project-info {
      h1 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 8px;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: #5c6368;
      }
    }

    .actions {
      margin-top: 16px;

      button {
        width: 120px;
        height: 36px;
        background-color: #0d6efd;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 0.9rem;
        //font-weight: 600;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  .sections {
    margin-top: 40px;

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      color: #0f1417;
      margin-bottom: 24px;
    }

    .label {
      height: 32px;
      width: 145px;
      padding: 8px 20px;
      background-color: #f0f2f5;
      color: #0f1417;
      border-radius: 10px;
      font-size: 0.8rem;
      font-weight: 600;
    }

    .edit-task-button {
      width: 94px;
      height: 30px;
      background-color: #e8fff3;
      color: #50cd89;
      border: none;
      border-radius: 10px;
      font-size: 0.8rem;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .task-section{
      margin-bottom: 40px;
    }

    .subtask-section {
      margin-top: 40px;
    }
    
    .comments-section {
      margin-top: 40px;
    }
  }

  .teams {
    margin-top: 40px;
  }
}
