<div class="project-details">
  <div class="heading">
    <div class="project-info">
      <h1>{{ projectTitle }}</h1>
      <p>{{ projectDescription }}</p>
    </div>
    <div class="actions">
      <button (click)="('')">Create Subtask</button>
    </div>
  </div>

  <div class="sections">
    <div class="task-section">
      <h3>Task</h3>
      <p-table [value]="[task]">
        <ng-template #header>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Assigned To</th>
            <th>Created At</th>
            <th>Created By</th>
          </tr>
        </ng-template>
        <ng-template #body let-task>
          <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.dueDate | date }}</td>
            <td>
              <span class="label">{{ task.taskStatus | taskStatus }}</span>
            </td>
            <td>
              <span>
                {{ task.user.firstName }}
                {{ task.user.lastName }}
              </span>
            </td>
            <td>{{ task.createdAt | date }}</td>
            <td>
              <span>
                {{ task.user.firstName }}
                {{ task.user.lastName }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    @if (task.subtasks.length) {
      <div class="subtasks-section">
      <h3>Subtasks</h3>

      <p-table [value]="task.subtasks">
        <ng-template #header>
          <tr>
            <th>Title</th>
            <th>Completed</th>
          </tr>
        </ng-template>
        <ng-template #body let-subtask>
          <tr>
            <td>{{ subtask.title }}</td>
            <td>
              <span class="label">{{
                subtask.isCompleted ? "Yes" : "No"
              }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    }
    @if (task.comments.length) {
      <div class="comments-section">
      <h3>Comments</h3>
      <p-table [value]="task.comments">
        <ng-template #header>
          <tr>
            <th>Comment</th>
            <th>Commented By</th>
            <th>Commented At</th>
          </tr>
        </ng-template>
        <ng-template #body let-comment>
          <tr>
            <td>{{ comment.content }}</td>
            <td>
              {{ comment.userId }}
            </td>
            <td>{{ comment.createdAt | date }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    }
  </div>
</div>
