<p-toast></p-toast>
<div class="kanban-board">
  <div class="project-title">
   <h1>{{ board.projectName }}</h1>
   <p>{{ board.projectDescription }}</p>
  </div>

  <div class="columns">
     <div class="column" *ngFor="let column of columns" 
       pDroppable="shared"
       (onDrop)="onDrop(column)">
    
     <div class="column-header">
       <p class="title">{{ column.name }}</p>
       <div class="action">
        <span class="task-count">{{ column?.tasks?.length }}</span>
        <button (click)="deleteTableColumn(1)"><i class="pi pi-ellipsis-h"></i></button>
       </div>
     </div>
     <button (click)="openCreateTaskModal(column)" class="add-task-button"><i class="pi pi-plus"></i> Add Task</button>
    <ul class="">
      <li *ngFor="let task of column.tasks"
          pDraggable="shared"
          (click)="openTaskUpdateDialog(column, task)"
          (onDragStart)="dragStart(task, column)"
          (onDragEnd)="dragEnd()">

          <div class="task">
            <p>{{ task?.title }}</p>

              <div class="image">
                <img src="assets/images/portrait1.jpg" alt="img">
              </div>
                   
            <p-progressbar class="progress-bar"
                        [value]="getTaskProgressValue(task.subtasks)" 
                        [showValue]="false"/>
                        <!-- {{ project.progress }}  -->

            <div class="details">
              <span><i class="pi pi-paperclip"></i> 5</span>
              <span><i class="pi pi-check-square"></i> {{getSubtaskCount(task.subtasks)}}/{{task.subtasks.length}}</span>
              <span><i class="pi pi-clock"></i> {{getDaysLeft(task.dueDate)}} days left</span>
            </div>
          </div>
      </li>
    </ul>
  </div>
  </div>
</div>
