<div class="kanban-board">
  <div class="project-title">
   <h1>{{ project.name }}</h1>
   <p>{{ project.description }}</p>
  </div>

  <div class="columns">
     <div class="column" *ngFor="let col of columns" 
       pDroppable="shared"
       (onDrop)="onDrop(col)">
    
     <div class="column-header">
       <p class="title">{{ col.title }}</p>
       <div class="action">
        <span class="task-count">{{ col.items.length }}</span>
        <button (click)="deleteTableColumn(col.title)"><i class="pi pi-ellipsis-h"></i></button>
       </div>
     </div>
     <button (click)="openCreateTaskModal()" class="add-task-button"><i class="pi pi-plus"></i> Add Task</button>
    <ul class="">
      <li *ngFor="let task of col.items"
          class=""
          pDraggable="shared"
          (click)="openTaskDetailsPage(task.id)"
          (onDragStart)="dragStart(task, col)"
          (onDragEnd)="dragEnd()">

          <div class="task">
            <p>{{ task?.title }}</p>

              <div class="image">
                <img src="assets/images/portrait1.jpg" alt="img">
              </div>
                   
            <p-progressbar class="progress-bar"
                        [value]="getTaskProgressValue(task.subtasks)" 
                        [showValue]="false"/>
                        <!-- {{ project.progress }}  -->

            <div class="details">
              <span><i class="pi pi-paperclip"></i> 5</span>
              <span><i class="pi pi-check-square"></i> {{getSubtaskCount(task.subtasks)}}/{{task.subtasks.length}}</span>
              <span><i class="pi pi-clock"></i> {{getDaysLeft(task.dueDate)}} days left</span>
            </div>
          </div>
      </li>
    </ul>
  </div>
  </div>
</div>
