<p-toast></p-toast>
<div class="overview">
  <div class="heading">
    <h1>Dashboard</h1>
    <button (click)="openCreateProjectModal()">Create Project</button>
  </div>
  <div class="projects">
    <p-table
    *ngIf="projectList | async as projects" [value]="projects"
      [rows]="pageSize"
      [paginator]="true"
      [totalRecords]="totalPages"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries"
      [pSelectableRow]="true"
      selectionMode="single"
      (onRowSelect)="onRowSelect($event)"
      (onPage)="onPageChange($event)"
    >
      <ng-template #header>
        <tr>
          <th>Project</th>
          <th>Status</th>
          <th>Progress</th>
          <th>Team</th>
          <th>Due Date</th>
          <th>Chart</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-project>
        <tr [pSelectableRow]="project">
          <td class="project-name">{{ project.name }}</td>
          <td>
            <span
              class="label"
              [style.background-color]="
                getStatusColor(project.projectStatus).backgroundColor
              "
              [style.color]="getStatusColor(project.projectStatus).color"
            >
              {{ project.projectStatus | projectStatus }}
            </span>
          </td>
          <td>
            <div class="inline-content">
              <p-progressbar
                class="progress-bar"
                [value]="project.progress"
                [showValue]="false"
              />
              {{ project.progress }}
            </div>
          </td>
          <td>
            <div class="team">
              <img src="assets/images/{{ project.team[0]?.image }}" alt="img" />
            </div>
          </td>
          <td class="due-date">{{ project.endDate | date }}</td>
          <td>
            <app-wave-chart
              [borderColor]="getChartColor(project.projectStatus)"
              [data]="getChartData(project)"
            >
            </app-wave-chart>
          </td>
          <td>
            <div class="actions">
              <button
                class="action-button"
                pButton
                (click)="goToProjectDetails(project.id, project.tenantId)"
              >
                <!-- <i class="pi pi-pen-to-square"></i>Details -->
                Details
              </button>
              <button
                class="action-button"
                pButton
                (click)="openEditProjectModal(project)"
              >
                <i class="pi pi-pen-to-square"></i>Edit
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="active-tasks">
    <app-active-task></app-active-task>
  </div>
</div>
