<div class="overview">
  <div class="projects">
    <p-table
    [value]="projects"
    [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Project</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Team</th>
                <th>Due Date</th>
                <th>Chart</th>
            </tr>
        </ng-template>
        <ng-template #body let-project>
            <tr>
                <td>{{ project.name }}</td>
                <td>
                  
                  <span class="label" 
                  [style.background-color]="getStatusColor(project.status).backgroundColor"
                  [style.color]="getStatusColor(project.status).color">
                    {{ project.status }}
                  </span>
                </td>
                <td>
                    <div class="inline-content">
                      <p-progressbar class="progress-bar"
                        [value]="project.progress" 
                        [showValue]="false"/>
                        {{ project.progress }} 
                    </div>                       
                </td>
                <td>
                  <!-- {{ project.team }} -->
                  <div class="team">
                    <img src="assets/images/{{project.team}}" alt="img">
                  </div>
                </td>
                <td>{{ project.dueDate }}</td>
                <td>
                  <!-- {{ project.chart }} -->
                  <app-wave-chart 
                  [borderColor]="project.status === 'On Track' ? '#50CD89' : '#F1416C'"
                  [data]="project.chart">
                </app-wave-chart>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  <div class="active-tasks">
    <app-active-task></app-active-task>
  </div>
</div>