<div
  class="collapse-button"
  [ngClass]="isCollapsed ? 'collapse-button' : 'not-collapsed'"
>
  <p-button
    class="custom-button"
    (click)="isCollapsed = !isCollapsed"
    icon="{{ isCollapsed ? 'pi pi-chevron-right' : 'pi pi-chevron-left' }}"
    pTooltip="{{ isCollapsed ? 'Expand' : 'Collapse' }}"
  >
  </p-button>
</div>
<div
  class="menu collapsible"
  [class.collapsed]="isCollapsed"
  [style.justify-content]="isCollapsed ? 'space-between' : ''"
  [style.overflow-y]="isCollapsed ? '' : ''"
  [style.padding-top]="isCollapsed ? '150px' : ''"
  [ngStyle]="{ padding: isCollapsed ? '0px' : '0px 30px 25px 30px' }"
>
  @if (!isCollapsed) {
  <div class="sticky">
    <div class="profile">
      <p-menu #menu [model]="profileMenuItems" [popup]="true" />
      <div class="image" (click)="menu.toggle($event)">
        <img src="assets/images/{{ user?.image }}" alt="img" />
      </div>
      <div class="title">
        <h3>{{ user?.firstName }}</h3>
      </div>
    </div>

    <div class="search">
      <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText placeholder="Search" (keyup)="search()" />
      </p-iconfield>
    </div>
  </div>

  <p-panelMenu [model]="menuItems"></p-panelMenu>
  }

  @if (isCollapsed) {
    <div class="collapsed-menu">
        <p-menu [style]="{'background-color': 'transparent'}" [model]="collapsedMenuItems"></p-menu> 
    </div>

    <div class="profile-image" (click)="goToProfile()">
        <img src="assets/images/{{ user?.image }}" alt="img" />
    </div>
  }
</div>
