<div class="heading">
  <h1>{{ iSCreate ? "Create new Task" : "Edit Task" }}</h1>
</div>

<form [formGroup]="formGroup" class="form">
  <div class="form-field">
    <p-floatlabel>
      <input
        class="input-field"
        id="title"
        pInputText
        formControlName="title"
      />
      <label for="title">Task title</label>
    </p-floatlabel>
    <!-- @if (isInvalid('title')) {
    <p-message severity="error" size="small" variant="simple"
      >Task title is required.</p-message
    >
    } -->
  </div>

  <!-- <div class="form-field">
    <p-floatlabel>
      <textarea
        class="input-field"
        pTextarea
        id="description"
        formControlName="description"
      ></textarea>
      <label for="description">Description</label>
    </p-floatlabel>

     @if (isInvalid('description')) {
            @if (formGroup.get('description')?.errors?.['required']) {
                <p-message severity="error" size="small" variant="simple">Description is required.</p-message>
            }
            @if (formGroup.get('email')?.errors?.['email']) {
                <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
            }
        } 
  </div> -->

  <div class="form-field">
    <p-floatlabel>
      <p-datepicker
        class="input-field"
        appendTo="body"
        [autofocus]="false"
        formControlName="dueDate"
      />
      <label for="dueDate">Task ends on...</label>
    </p-floatlabel>
  </div>

  @if(true){
  <div class="form-field">
    <p-floatlabel>
      <p-select
        [autofocus]="false"
        class="input-field"
        appendTo="body"
        [options]="taskStatuses"
        formControlName="taskStatus"
        optionLabel="name"
        optionValue="value"
      />
      <label for="taskStatus">Select task status</label>
    </p-floatlabel>
  </div>
  }

  <div class="card">
    <p-table formArrayName="subtasks" [value]="subtasks.controls" editMode="row">
        <ng-template pTemplate="header">
            <tr>
              @if (!iSCreate) {
                <th>Subtasks</th>
                <th></th>
              }
               @if (iSCreate) {
                     
                    <th>
                  <input pInputText type="text" placeholder="Subtask Title" formControlName="subtasks" />
                </th>
                <th style="width: 4rem">
                  <button (click)="addSubtask()" pButton icon="pi pi-plus" class="p-button-rounded p-button-success"></button>
                </th>
              
               }
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr [formGroupName]="i">
                <td [pEditableColumn]="row" pEditableColumnField="title">
                  
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                                formControlName="title"
                                pInputText
                                 
                                [readOnly]="iSCreate"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ row.value.title  }}
                        </ng-template>
                    </p-cellEditor>
                </td>
               @if (iSCreate) {
                <td>
                    <button (click)="deleteSubtask(row)" pButton icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                </td>
               }
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Comments table -->
  <!-- <div class="card">
    <p-table [value]="iSCreate ? comments : task.comments" dataKey="id">
        <ng-template #header>
            <tr>
              @if (!iSCreate) {
                <th>Comments</th>
              }
               @if (iSCreate) {
                 <th>
                  <input pInputText type="text" placeholder="Comment Title" formControlName="comment" />
                </th>
                <th style="width: 4rem">
                  <button (click)="addComment()" pButton icon="pi pi-plus" class="p-button-rounded p-button-success"></button>
                </th>
               }
            </tr>
        </ng-template>

        <ng-template #body let-comment let-editing="editing">
            <tr>
                 Title Column 
                <td [pEditableColumn]="comment.content" pEditableColumnField="content">
                    <p-cellEditor>
                        <ng-template #input>
                            <input
                                formControlName="comment"
                                pInputText
                                fluid 
                                [readOnly]="iSCreate"/>
                        </ng-template>
                        <ng-template #output>
                            {{ comment.content  }}
                        </ng-template>
                    </p-cellEditor>
                </td>
               @if (iSCreate) {
                <td>
                    <button (click)="deleteComment(comment)" pButton icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                </td>
               }
            </tr>
        </ng-template>
    </p-table>
</div> -->

  <div class="actions">
    <button
      pButton
      label="Cancel"
      severity="secondary"
      (click)="onClose()"
    ></button>
    <button
      pButton
      label="{{ iSCreate ? 'Create' : 'Save' }}"
      (click)="onSaveOrCreate()"
    ></button>
  </div>
</form>
