<div class="heading">
  <h1>{{ iSCreate ? "Create new Task" : "Edit Task" }}</h1>
</div>

<form [formGroup]="formGroup" class="form">
  <div class="form-field">
    <p-floatlabel>
      <input
        class="input-field"
        id="title"
        pInputText
        formControlName="title"
      />
      <label for="title">Task title</label>
    </p-floatlabel>
    <!-- @if (isInvalid('title')) {
    <p-message severity="error" size="small" variant="simple"
      >Task title is required.</p-message
    >
    } -->
  </div>

    <div class="form-field">
    <p-floatlabel>
      <textarea
        class="input-field"
        id="description"
        pInputText
        formControlName="description"
      ></textarea>
      <label for="description">Description</label>
    </p-floatlabel>
  </div>

  <div class="form-field">
    <p-floatlabel>
      <p-datepicker
        class="input-field custom-input-text"
        appendTo="body"
        [autofocus]="false"
        formControlName="dueDate"
      />
      <label for="dueDate">Task ends on...</label>
    </p-floatlabel>
  </div>

  @if(true){
  <div class="form-field">
    <p-floatlabel>
      <p-select
        [autofocus]="false"
        class="input-field"
        appendTo="body"
        [options]="taskStatuses"
        formControlName="taskStatus"
        optionLabel="name"
        optionValue="value"
      />
      <label for="taskStatus">Select task status</label>
    </p-floatlabel>
  </div>
  }

  <div class="card">
    @if (iSCreate) {

    <div
      style="
        display: flex;
        justify-content: space-between;
        border: 1px grey;
        border-radius: 10px;
      "
    >
      <input
        pInputText
        type="text"
        fluid=""
        placeholder="Subtask Title"
        formControlName="subtaskTitle"
      />

      <button
        (click)="addSubtask()"
        pButton
        icon="pi pi-plus"
        class="p-button-rounded p-button-success"
      ></button>
    </div>

    }
    <p-table
      formArrayName="subtasks"
      [value]="subtasks.controls"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          @if (!iSCreate) {
          <th>Subtasks</th>
          <th></th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr [formGroupName]="i">
          <td [pEditableColumn]="row" pEditableColumnField="title">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  formControlName="title"
                  pInputText
                  fluid
                  [readOnly]="iSCreate"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ row.value.title }}
              </ng-template>
            </p-cellEditor>
          </td>
          @if (iSCreate) {
          <td>
            <button
              (click)="deleteSubtask(i)"
              pButton
              icon="pi pi-times"
              class="p-button-rounded p-button-danger"
            ></button>
          </td>
          }
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Comments table -->
  <div class="card">
    @if (iSCreate) {
    <div
      style="
        display: flex;
        justify-content: space-between;
        border: 1px grey;
        border-radius: 10px;
      "
    >
      <input
        pInputText
        type="text"
        fluid
        placeholder="Comment"
        formControlName="commentContent"
      />
      <button
        (click)="addComment()"
        pButton
        icon="pi pi-plus"
        class="p-button-rounded p-button-success"
      ></button>
    </div>
    }

    <p-table
      formArrayName="comments"
      [value]="comments.controls"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          @if (!iSCreate) {
          <th>Comments</th>
          <th></th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr [formGroupName]="i">
          <td [pEditableColumn]="row" pEditableColumnField="title">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  formControlName="content"
                  pInputText
                  fluid
                  [readOnly]="iSCreate"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ row.value.content }}
              </ng-template>
            </p-cellEditor>
          </td>
          @if (iSCreate) {
          <td>
            <button
              (click)="deleteComment(i)"
              pButton
              icon="pi pi-times"
              class="p-button-rounded p-button-danger"
            ></button>
          </td>
          }
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="actions">
    <button
      pButton
      label="Cancel"
      severity="secondary"
      (click)="onClose()"
    ></button>
    <button
    [disabled]="buttonDisabled"
      pButton
      severity="success"
      label="{{ iSCreate ? 'Create' : 'Save' }}"
      (click)="onSaveOrCreate()"
    ></button>
  </div>
</form>
