@if (!userIsLoggedIn) {
  <video autoplay muted loop>
  <source src="assets/videos/background.mp4" type="video/mp4" />
</video>
}

@if (!userIsLoggedIn && isLogin) {
  <app-login (isLogin)="setIsLogin()"></app-login>
}

@if (!userIsLoggedIn && !isLogin) {
  <app-register (isLogin)="setIsLogin()"></app-register>
}

@if (userIsLoggedIn) {
<div class="main-page"> 
  <app-menu></app-menu>

  <div class="custom-router-outlet">
    <app-dashboard-nav></app-dashboard-nav>
    <router-outlet></router-outlet>
  </div>
</div>
}