video {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.main-page {
  display: flex;

  .custom-router-outlet {
    app-dashboard-nav {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    height: 100vh;
    width: 100vw;
    overflow: auto;
  }
}
