<div class="heading">
  <h1>{{ iSCreate ? "Create new Project" : "Edit Project" }}</h1>
</div>

<form [formGroup]="formGroup" class="form">
  <div class="form-field">
    <p-floatlabel>
      <input class="input-field" id="name" pInputText formControlName="name" />
      <label for="name">Project name</label>
    </p-floatlabel>
    @if (isInvalid('name')) {
    <p-message severity="error" size="small" variant="simple"
      >Project name is required.</p-message
    >
    }
  </div>

  <div class="form-field">
    <p-floatlabel>
      <textarea
        class="input-field"
        pTextarea
        id="description"
        formControlName="description"
      ></textarea>
      <label for="description">Description</label>
    </p-floatlabel>

    <!-- @if (isInvalid('description')) {
            @if (formGroup.get('description')?.errors?.['required']) {
                <p-message severity="error" size="small" variant="simple">Description is required.</p-message>
            }
            @if (formGroup.get('email')?.errors?.['email']) {
                <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
            }
        } -->
  </div>

  <div class="form-field">
    <p-floatlabel>
      <p-datepicker
        class="input-field custom-input-text"
        appendTo="body"
        [autofocus]="false"
        formControlName="startDate"
      />
      <label for="startDate">Project starts on...</label>
    </p-floatlabel>
  </div>

  <div class="form-field">
    <p-floatlabel>
      <p-datepicker
        class="input-field custom-input-text"
        appendTo="body"
        [autofocus]="false"
        formControlName="endDate"
      />
      <label for="endDate">Project ends on...</label>
    </p-floatlabel>
  </div>

  @if(!iSCreate){
    <div class="form-field">
    <p-floatlabel>
      <p-select
        [autofocus]="false"
        class="input-field"
        appendTo="body"
        [options]="projectStatuses"
        formControlName="projectStatus"
        optionLabel="name"
        optionValue="value"
      />
      <label for="projectStatus">Select project status</label>
    </p-floatlabel>
  </div>
  }
  
  <div class="actions">
    <button
    severity="secondary"
      pButton
      label="Cancel"
      severity="secondary"
      (click)="onClose()"
    ></button>
    <button
    severity="success"
    [disabled]="buttonDisabled"
      pButton
      label="{{ iSCreate ? 'Create' : 'Save' }}"
      (click)="onSaveOrCreate()"
    ></button>
  </div>
</form>
